body{
    color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#contenedor{
    border: 2px solid goldenrod;
    margin: 0 auto;
    padding: 2em;
    width: 70%;
}